*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.section-1{
    background-color: #1f2937;
}

.hero{
    background-color: #1f2937;
    width: 1000px;
    height: 475px;
    margin-left: 150px;
}

h1{
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar li{
    list-style: none;
    display: inline-block;
}

.nav-bar li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding-left: 20px;    
}

.main-text{
    padding-top: 30px;
    width: 360px;
    display: inline-block;
}

.main-text p{
    color: #e5e7eb;
}

.main-text h1{
    font-size: 48px;
    font-weight: bolder;
}

.btn{
    background: #3882f6;
    width: 100px;
    padding: 8px 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    color: #e5e7eb;
    font-size: 15px;
    font-weight: bolder;
}

.main-text img{
    width: 500px;
    height: 250px;
    position: absolute;
    right: 129px;
    top: 125px;
    border: 2px solid #e5e7eb;
}


.section-2{
    height: 400px;
}

.section-2 h1{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgs{
    display: flex;
    margin-left: 180px;
    margin-right: 180px;
    justify-content: space-evenly;
}

.imgs img{
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.imgs p{
    text-align: left;
}

.imgs .image1,.image2,.image3,.image4{
    width: 150px;
}


.section-3{
    height: 400px;
    background-color: #e5e7eb;
    padding-left: 270px;
}

.section-3 p{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    width: 750px;
    padding-top: 80px;
}

.section-3 span{
    font-weight: bold;
    float: right;
    padding-right: 290px;
}